@using Arboretum.Frontend.Data;
@using Radzen.Blazor;

<div>
<RadzenStack>
    <link rel="stylesheet" href="../ElementsStyles.css"/>
    <RadzenTextBox Placeholder="Почта" Style="margin-bottom:50px" @bind-Value=_email>  
    </RadzenTextBox>

    <RadzenTextBox Placeholder="Пароль" Style="margin-bottom:50px"  @bind-Value=_pswd>
    </RadzenTextBox>

    <RadzenRow>
        <RadzenText Text="Забыли пароль?" Style="margin-bottom:50px">
        </RadzenText>
    </RadzenRow>

    <RadzenButton Text="Войти" Click="Login">
    </RadzenButton>
</RadzenStack>
</div>

@code {
    private string _pswd;
    private string _email;

    private void Login()
    {
        var loginId = ApiInteractor.Login(_email, _pswd);
        Console.WriteLine("Send login to backend");
        User.SetUserInfo(_email, loginId);
    } 
}
