@using Arboretum.Frontend.Data;
@using Radzen.Blazor;

<div>
<RadzenStack>
    <RadzenRow>
        <RadzenTextBox Placeholder="Почта" Style="margin-bottom:10px" @bind-Value=_email/>
    </RadzenRow>
    <RadzenRow>
        <RadzenPassword Placeholder="Пароль" Style="margin-bottom:10px" @bind-Value=_pswd />
    </RadzenRow>
    <RadzenRow>
        <RadzenText Text="Забыли пароль?" Style="margin-bottom:10px"/>
    </RadzenRow>
    <RadzenButton Text="Войти" Click="Login">
            
    </RadzenButton>
</RadzenStack>
</div>

@code {
    private string _pswd;
    private string _email;

    private void Login()
    {
        var loginId = ApiInteractor.Login(_email, _pswd);
        User.SetUserInfo(_email, loginId);
    } 
}
