@using Arboretum.Frontend.Data;
@using Arboretum.Frontend.Dtos;
@using Radzen.Blazor;

<div>
    <RadzenButton Click="GetUserPLants" Text="Get user plants"/>

    @if (_myPlants != null)
    {
        foreach(var plant in _myPlants)
        {
            <RadzenRow>
                <RadzenImage Path=""/>
            </RadzenRow>
            <RadzenRow>
                <RadzenText Text=@plant.Name/>
            </RadzenRow>
            <RadzenRow>
                <RadzenText Text=@plant.Description />
            </RadzenRow>
        }
    }
</div>

@code {
    private List<PlantDto> _myPlants;
    private RadzenDataGrid<PlantDto> _plantsGrid;

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private void GetUserPLants()
    {
        /*_myPlants = ApiInteractor.GetUserPlant(User.GetUserId()).Plants;
        if (_myPlants.Count > 0) 
        {
            var tempPhotosDir = Path.Combine(Directory.GetCurrentDirectory(), "TempPhotos");
            if (!Directory.Exists(tempPhotosDir))
            {
                Directory.CreateDirectory(tempPhotosDir);
            }

            foreach (var plant in _myPlants)
            {
                  
            }
        }
        */
    }
}
