@using Arboretum.Frontend.Data;
@using Arboretum.Frontend.Dtos;
@using Radzen.Blazor;

<div>
    <RadzenButton Click="GetUserPLants" Text="Get user plants"></RadzenButton>

    @if (myPlants != null)
    {
        @foreach (var plant in myPlants)
        {
            <div>
                <RadzenButton Text="This is a template"></RadzenButton>
            </div>
        }

    }
</div>

@code {
    private List<PlantDto> myPlants;

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private void GetUserPLants()
    {
        myPlants = ApiInteractor.GetUserPlant(1).Plants;
    }
}
