@using Arboretum.Frontend.Data;
@using Arboretum.Frontend.Dtos;
@using Radzen.Blazor
<h3>PlantInfo</h3>
<div>
    <RadzenRow>
        <RadzenTextBox @bind-Value=@_plantId/>
        <RadzenButton Click="GetPlantById" Text="Get plant information"/>
    </RadzenRow>
    <RadzenRow>
        @if (_plant != null)
        {
            <RadzenRow>
                <RadzenImage Path=@_plant.PhotoPaths.FirstOrDefault() width="300px" height="300px" />
            </RadzenRow>
            <RadzenRow>
                <RadzenText Text=@_plant.Name/>
            </RadzenRow>
            <RadzenRow>
                <RadzenText Text=@_plant.Description/>
            </RadzenRow>
        }
    </RadzenRow>
    <RadzenRow Style="margin-top:100px">
        <InputFile Text="Выбрать фотографию" OnChange="LoadPictures" />
        <RadzenButton Text="Загрузить" Click=Upload></RadzenButton>
    </RadzenRow>
</div>

@code {
    private string _plantId;
    private PlantDto _plant;
    private IReadOnlyList<IBrowserFile> _pictures;

    private void GetPlantById()
    {
        if (_plantId == "")
        {
            return;
        }

        _plant = ApiInteractor.GetPlantById(_plantId);
    }

    private void LoadPictures(InputFileChangeEventArgs e)
    {
        _pictures = e.GetMultipleFiles();
        this.StateHasChanged();
    }

    private void Upload()
    {
        if (_plantId == "")
        {
            return;
        }

        /*foreach (var file in _pictures)
        {
            ApiInteractor.LoadPicture(file, _plantId);
        }*/
    }
}
