version: '3.1'

services:
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: root

  adminer:
    image: adminer
    restart: always
    container_name: admin
    ports:
      - 8080:8080

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    ports:
      - "8081:8081"
      - "8083:5005"
    depends_on:
      - db
    environment:
      #- SPRING_SQL_INIT_MODE=always
      - SPRING_DATASOURCE_URL=jdbc:mysql
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root